{% extends 'personal/main.html' %}



{% block content %}

    <div class="login-div">

        <!-- <p class="login-alert">You must be logged in to use this database.</p> -->
        <h1>Login</h1>
        <form action="" method="post" class="login-form"> {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputUsername1">Username</label>
              <input type="username" class="form-control" id="exampleInputUsername1" autofocus aria-describedby="usernameHelp" placeholder="Enter username">
              <!-- <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}