{% extends 'personal/main.html' %}


{% block content %}

    <div class="create-file-div">
        <h1>Create file</h1>

        <form action="" method="post" class="create-file-form"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter file name" required>
            </div>
            <div class="form-group">
                <!-- <input type="text" class="form-control" name="file_type" id="file_type" placeholder="Choose file type"> -->
                <select name="file_type" class="form-select" id="id_file_type" required>
                    <option value="" selected>Choose file type</option>
                  
                    <option value="text">text</option>
                  
                    <option value="html">html</option>
                  
                    <option value="css">css</option>
                  
                    <option value="js">js</option>
                  
                    <option value="ppt">ppt</option>
                  
                    <option value="pdf">pdf</option>
                  
                  </select>
            </div>

            <!-- {{ fileUploadForm.as_p }} -->
            <button type="submit" class="btn btn-primary">create</button>
        </form>

    </div>

{% endblock %}