{% extends 'personal/main.html' %}


{% block content %}

    <div class="path-div">
        <span class="path-slash">/</span>

        {% for parent in parents %}

            <a href="{% url 'folder' parent.id %}" class="path-link-bth">{{ parent }}</a>
            <span class="path-slash">/</span>

        {% endfor %}

        {{ folder }}

    </div>

    <div class="create-folder-div">
        <h1>Create folder</h1>

        <form action="" method="post" class="create-folder-form"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter folder name" required>
            </div>
            <button type="submit" class="btn btn-primary">create</button>
        </form>

    </div>

{% endblock %}