{% extends 'personal/main.html' %}


{% block content %}

    <div class="path-div">
        <span class="path-slash">/</span>

        {% for parent in parents %}

            <a href="{% url 'folder' parent.id %}" class="path-link-bth">{{ parent }}</a>
            <span class="path-slash">/</span>

        {% endfor %}

        {{ folder }}
    </div>

    <div class="create-file-div">
        <h1>Create file</h1>

        <form action="" method="post" enctype="multipart/form-data" class="create-file-form"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter file name" required>
            </div>

            <div class="form-group">
                <input type="file" class="form-control" name="file" required id="id_file">
            </div>
            <div class="form-group">
                <select name="file_type" class="form-select" id="id_file_type" required>
                    <option value="" selected>Choose file type</option>
                  
                    <option value="text">text</option>
                  
                    <option value="html">html</option>
                  
                    <option value="css">css</option>
                  
                    <option value="js">js</option>
                  
                    <option value="ppt">ppt</option>
                  
                    <option value="pdf">pdf</option>
                  
                  </select>
            </div>

            <!-- {{ fileUploadForm.as_p }} -->
            <button type="submit" class="btn btn-primary">create</button>
        </form>

    </div>

{% endblock %}