{% extends 'personal/main.html' %}


{% block content %}

    <div class="path-div">
        <!-- links to parent folders till root -->

        {% if request.user.dbuser.root_id == folder.id|stringformat:"i" %}
            <span class="path-slash">/</span>
        {% endif %}

        {% for parent in parents %}

            <a href="{% url 'folder' parent.id %}" class="path-link-bth">{{ parent }}</a>
            <span class="path-slash">/</span>

        {% endfor %}

    </div>


    <div class="directory">
        {% for child in children %}
            <div class="directory-item folder">
                <a href="{% url 'folder' child.id %}" class="folder-link">{{ child }}</a>
                <p class="modified-time">modified at</p>
                <p class="created-time">created at</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}