{% extends 'personal/main.html' %}


{% block content %}

    <div class="path-div">
        <span class="path-slash">/</span>

        {% for parent in parents %}

            <a href="{% url 'folder' parent.id %}" class="path-link-bth">{{ parent }}</a>
            <span class="path-slash">/</span>

        {% endfor %}

        {{ folder }}
    </div>


    <div class="directory">
        {% for child in children %}
            <div class="directory-item folder">
                <a href="{% url 'folder' child.id %}" class="folder-link">{{ child }}</a>
                <p class="modified-time">modified at</p>
                <p class="created-time">created at</p>
            </div>
        {% endfor %}

        {% for file in files %}
            <div class="directory-item file">
                {% if file.file %}
                    <a href="{{ file.file.url }}" class="file-link" target="_blank">{{ file.name }}</a>
                {% else %}
                    <h4 class="file-name">{{ file.name }}</h4>
                {% endif %}
                <p class="file-type">{{ file.file_type }}</p>
                <p class="uploaded-time">{{ file.upload_time|formatDateTime }}</p>
                <a href="{% url 'delete-file' folder.id file.id %}" class="delete-link"><i class="fa-solid fa-trash fa-spin"></i></a>

                {% if request|isTrashFolder:folder.id %}
                    <a href="{% url 'restore-file' folder.id file.id %}" class="restore-link"><i class="fa-solid fa-rotate-right fa-spin"></i></i></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}