@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');


:root {
    --theme-1: #FFF2D8;
    --theme-1: #EAD7BB;
    --theme-1: #BCA37F;
    --theme-1: #113946;


    --font-primary: 'Slabo 13px', serif;
    --font-secondary: 'Kelly Slab', sans-serif;
}


