@import url(./globals.css);
@import url(./variables.css);


.path-div {
    /* border: red 1px solid; */

    padding: 1rem;
}

.path-slash {
    font-weight: 600;
    background-color: rgb(220, 220, 220);
    padding: .5rem .2rem;
    border-radius: 3px;
}


.directory {
    /* padding: 1rem; */
}

.directory-item {
    height: 8rem;
    width: 8rem;

    float: left;

    padding: .5rem 0 0 0;
    margin: 1rem;

    border-radius: 10px;

    /* background-color: var(--grey-1); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.folder {
    background-color: var(--grey-1);
}


.folder-link, .file-name {
    flex: 4;

    text-align: center;
    /* font-size: 2rem; */

    color: var(--theme-4);
}

.folder-link:hover {
    color: var(--theme-4);
}

.directory-item:hover {
    /* color: var(--grey-1);
    background-color: var(--theme-4); */

    /* box-shadow: 10px 10px 20px 2px var(--grey-3); */
}

.created-time {
    flex: 1;

    margin: 0;

    background-color: var(--grey-2);

    padding: 0 0 0 .5rem;
    border-radius: 0 0 10px 10px;

    font-size: .8rem;
}

.modified-time {
    flex: 1;

    margin: 0;

    background-color: var(--grey-3);

    padding: 0 0 0 .5rem;
    /* border-radius: 0 0 10px 10px; */

    font-size: .8rem;
}

.create-file-form select {
    margin: 1rem 0 0 0;

    border: none;
    background-color: var(--theme-2);

    height: 3rem;
    font-size: 1.2rem;
}

.file {
    background-color: var(--grey-3);
}

.uploaded-time {
    flex: 1;

    margin: 0;

    background-color: var(--grey-4);

    padding: 0 0 0 .5rem;
    border-radius: 0 0 10px 10px;

    font-size: .8rem;
}