@import url(./globals.css);
@import url(./variables.css);


.nav-bar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    background-color: var(--theme-2);

    border-radius: 10px;

    padding: .5rem;

    /* border: red 100px solid; */
}

.nav-auth {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.nav-item {
}

.nav-auth a, .nav-non-auth a {
    color: var(--theme-4);

    padding: .5rem 1rem;

    border-radius: 5px;
}

.nav-auth a:hover, .nav-non-auth a:hover {
    color: var(--theme-1);
    background-color: var(--theme-4);
}



.nav-non-auth {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}