@import url(./globals.css);
@import url(./variables.css);


body {
    min-height: 89vh;
    /* border: red 2px solid; */
    /* background: linear-gradient(135deg, var(--theme-1), var(--theme-1)); */
}

.container-fluid {
    /* width: 100%;
    padding: 1rem; */

    margin: .5rem 0;
    font-family: var(--font-primary);

    font-size: 1.2rem;
    font-weight: 600;
}

.login-div, .register-div {
    width: 40%;
    margin: 5rem auto;
    padding: 2rem 1rem;

    /* border: red solid 1px; */
    border-radius: 10px;

    /* background-color: var(--theme-3); */
    font-family: var(--font-primary);

    /* box-shadow: 10px 10px; */
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* padding: 1rem; */

    color: var(--theme-4);
}

.login-div h1, .register-div h1 {
    color: var(--theme-4);
    text-align: center;

    font-weight: 900;
}

.login-form label, .register-form label {
    margin: .5rem 0 0 0;
    font-size: 1.2rem;
}

.login-form input, .register-form input {
    border: none;
    margin: 1rem 0 0 0;
    
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--theme-2);
}

.login-form input:focus, .register-form input:focus {
    background-color: var(--theme-2);
}

.login-form button, .register-form button {
    height: 3rem;
    border: none;
    background-color: var(--theme-4);
    margin: 1rem 0 0 0;
    /* transition: background-color 1s ease-in-out; */
}

.login-form button:hover, .register-form button:hover {
    background-color: var(--theme-4);
}

.login-alert {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--theme-4)
}