@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');


:root {
    --theme-1: #FFF2D8;
    --theme-2: #EAD7BB;
    --theme-3: #BCA37F;
    --theme-4: #113946;

    --grey-1: #E3F4F4;
    --grey-2: #D2E9E9;
    --grey-3: #C4DFDF;
    --grey-4: #B2CFCF;


    --font-primary: 'Slabo 13px', serif;
    --font-secondary: 'Kelly Slab', sans-serif;
}


